<p><b><i>Стоимость доставки: </i></b>Бесплатно</p>
<p><b><i>Сроки доставки: </i></b>2-3 недели от даты заказа.</p>
<p><b><i>Где забрать товар: </i></b>В отделении "Новой почты" указаном при оформлении заказа.</p>
<p><b><i>Оплата: </i></b>Наложенным платежем при получении товара.</p>