<p><b><i>Стоимость доставки: </i></b></p>
<p>1) при сумме заказа до 700 грн. = 40 грн.</p>
<p>2) при сумме заказа свыше 700 грн. = 0 грн. <b>(БЕСПЛАТНО)</b>.</p>
<p><b><i>Сроки доставки: </i></b></p>
<p>2-3 недели от даты заказа (более точную дату Вам озвучит менеджер).</p>