<p><b><i>При оформлении заказа необходимо указать: </i></b></p>
    <p>- ФИО</p>
    <p>- E-mail</p>
    <p>- Номер мобильного телефона</p>
    <p>- Город доставки</p>
    <p>- Выбрать отделение "Новой почты" для доставки</p>
