<p>1) После оформления заказа, на Вашу электронную почту поступит уведомление с ID заказа, номенклатурой и суммой заказа.</p>
<p>В течении 12-ти часов (с 10:00 до 20:00), с Вами свяжется наш менеджер для:</p>
<p>• уведомления о наличии заказанного товара</p>
<p>• уведомления о более точных сроках доставки</p>
<p>• подтверждения Вашего заказа (на данном этапе Вы можете отменить заказ)</p>
<br />
<p>2) По факту отправления заказа почтой, на Ваш номер телефона поступит уведомление с номером декларации Новой почты.</p>
